<template name="studentSidebarLeft">
    <div class="sidebar sidebar-left sidebar-light sidebar-visible-md-up si-si-3 ls-top-navbar-xs-up sidebar-transparent-md" id="sidebarLeft" data-scrollable>
    <div class="sidebar-heading">APPLICATIONS</div>
    <ul class="sidebar-menu">
        <li class="sidebar-menu-item active">
            <a class="sidebar-menu-button" href="{{pathFor route='uDashboard'}}">
                <i class="sidebar-menu-icon material-icons">account_box</i> Client
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="{{pathFor route='tDashboard'}}">
                <i class="sidebar-menu-icon material-icons">school</i> Therapist
            </a>
        </li>
    </ul>

    <div class="sidebar-heading">Student</div>
    <ul class="sidebar-menu">
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="{{pathFor route='uCourseList'}}">
                <i class="sidebar-menu-icon material-icons">search</i> Browse Brain Hacks
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="{{pathFor route='uViewCourse'}}">
                <i class="sidebar-menu-icon material-icons">import_contacts</i> View Current Hack
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="take-course.html">
                <i class="sidebar-menu-icon material-icons">poll</i> Track Progress
                <span class="sidebar-menu-label label label-default">PRO</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="take-quiz.html">
                <i class="sidebar-menu-icon material-icons">dvr</i> Take a Quiz
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="chat.html">
                <i class="sidebar-menu-icon material-icons">comment</i> Messages
                <span class="sidebar-menu-label label label-default">2</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="account-edit.html">
                <i class="sidebar-menu-icon material-icons">account_box</i> Edit Account
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="billing.html">
                <i class="sidebar-menu-icon material-icons">monetization_on</i> Billing
                <span class="sidebar-menu-label label label-default">$25</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-button" href="login.html">
                <i class="sidebar-menu-icon material-icons">lock_open</i> Logout
            </a>
        </li>
    </ul>
</div>
</template>